<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gabble</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-div">
            <p class="menuItem"><a href="/posts">Create a New Post</a></p>
            <p class="menuItem"><a href="/myposts">View My Posts</a></p>
        </div>
        <div class="nav-div">
            <a class="page-header" href="/">Gabble</a>
        </div>
        <div class="nav-div">
            <p class="menuItem">Logged in as <span class="logged-in">{{user.username}}</span></p>
            <p class="menuItem"><a href="/logout">Log Out</a></p>
        </div>
    </nav>

    <div class="wrapper">
        <div class="post-ctr">
            {{#messages}}
            <div class="message">
                <form action="/likes/{{id}}" method="post">
                    <div class="main-content">
                        <span class="username">{{user.username}}: </span>
                        <span class="middle">{{message}}</span>
                    </div>
                    <div>
                        <button class="like-btn" type="submit" value="Like"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>                        {{#likes.length}}
                        <a class="total-likes" href="/likes/{{id}}">{{likes.length}} likes</a> {{/likes.length}} {{^likes.length}}
                        No likes yet. {{/likes.length}}
                    </div>
                </form>
                <span class="created-at"> {{createdAt}}</span>

            </div>
            {{/messages}}
        </div>
    </div>
</body>

</html>