<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gabble Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>
  
    <div>
        <div class ="form">
            <h1>Welcome to Gabble!</h1>
            <form action="/login" method="post">
                <label for="username"></label><br>
                <input type="text" name="username" value="" placeholder="username" autocomplete=off autofocus><br>
                <label for="password"></label><br>
                <input type="password" name="password"  placeholder="password" autocomplete=off><br>

                <button type="submit" value="Log in">Log In</button>
            </form>
            <br>
        <a href="/signup">Don't have an account? Sign up</a>
        </div>
    </div>
</body>

</html>




   
