<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create a New Gab</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

<body>
    <nav>
        <ul id="menu">
            <li class="menuItem"><a href="/">Gabble</a></li>
            <li class="menuItem">Create a new post</li>
            <li class="menuItem"><a href="/myposts">View my posts</a></li>
            <li class="menuItem">Logged in as {{user.username}}</li>
            <li class="menuItem"><a href="logout">Log out</a></li>
        </ul>
    </nav>
    <div id="wrapper-create">
        <h1>Create a New Gab</h1>
        <br>
        <form action="/posts" method="post">
            <textarea name="newmessage" id="newmessage" maxlength="140" cols="50" rows="3"></textarea>
            <br>
            <input type="submit" name="savemessage" value="Save Message">
        </form>
    </div>
</body>

</html>