* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: linear-gradient(rgba(45, 9, 9, 0.74), rgba(193, 178, 178, 0.27), transparent), url(../img/adam-przewoski-193.jpg);
    background-attachment: fixed;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/*\\\\\ Log in and Signup Page Styles Begin Here \\\\\*/

.form {
    position: relative;
    background: rgba(105, 62, 96, 0.92);
    width: 25%;
    margin: 260px 40px 0 0;
    padding: 30px 50px;
    text-align: center;
    box-shadow: 0 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}

input {
    background: rgba(249, 249, 249, 0.57);
    outline: none;
    border: none;
    line-height: 1.9;
    width: 55%;
    border-radius: 3px;
    text-align: center;
    font-size: .9rem;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #1aadc5;
    width: 30%;
    border: 0;
    padding: 6px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 20px 55px 0;
    border-radius: 3px;
}

.form button:hover {
    background: #1692A5;
}

input::placeholder {
    color: black;
}

.form a {
    text-decoration: none;
    color: white;
}

.form a:hover {
    color: #15D0EC;
}


/*\\\\\ Log In and Signup Page Styles End Here \\\\\*/

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-ctr {
    width: 43%;
    padding: 70px 0 40px 0;
    box-shadow: 0 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    text-align: center;
    margin: 0 10p;
    background: rgba(105, 62, 96, 0.92);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
}

.nav-div {
    display: flex;
    line-height: 1rem;
    margin: 0 20px;
}

.menuItem {
    color: rgb(243, 236, 228);
    padding: 0 5px;
}

.nav-div a {
    text-decoration: none;
    color: rgb(243, 236, 228);
    margin: 0 10px;
}

.nav-div a:hover {
    color: #15D0EC;
}

h1 {
    font-family: 'Lobster', cursive;
    color: rgb(243, 236, 228);
    letter-spacing: .1rem;
    margin-bottom: 10px;
}

.message {
    background: rgba(212, 207, 210, 0.96);
    padding: 16px 36px;
    margin-bottom: 12px;
    border-radius: 6px;
    color: #2d2323;
}

.like-btn {
    background: none;
    border: none;
    font-size: 1.1rem;
    color: #23909a;
    cursor: pointer;
}

.like-btn:hover {
    color: #FFFFFF;
}

.del-btn {
    font-size: .9rem;
}

.total-likes {
    text-decoration: none;
    color: #23909a;
    font-weight: 400;
}

.total-likes:hover {
    color: rgb(243, 236, 228);
}

.created-at {
    font-size: .7rem;
}

.main-content {
    line-height: 1.6rem;
}

.username {
    font-weight: 800;
    color: #23909a;
}

.page-header {
    font-family: 'Lobster', cursive;
    color: rgb(243, 236, 228);
    letter-spacing: .1rem;
    margin-bottom: 10px;
    padding-right: 62px;
    font-size: 1.5rem;
}

.liked-by {
    font-weight: 800;
    color: #23909a;
}

.new-post {
    align-content: center;
    transform: translate(-146%, -60%);
    margin-top: 300px;
}

.new-post-text {
    background: rgba(249, 249, 249, 0.57);
    height: 7em;
    width: 95%;
    resize: none;
    outline: none;
    font-size: 1rem;
    padding: 11px;
}

.logged-in {
    color: #1CB0C4;
    font-weight: 800;
}